html, body, div, span, applet, object, iframe,
h1, h2, .heroShot .heroClaim p strong, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*Main Header*/
header {
  background: rgba(64, 78, 91, 0.9);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 3.375em;
  width: 100%;
  position: fixed;
  z-index: 500; }
  header .wrapper {
    align-items: center; }
    header .wrapper .logotipoQDQmedia {
      height: 38px; }

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center; }
  nav .menu-toggle {
    width: 40px;
    height: 40px;
    background: #35414c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; }
    nav .menu-toggle .ion-navicon {
      color: white;
      font-size: 2em; }
      nav .menu-toggle .ion-navicon:before {
        transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease; }
      nav .menu-toggle .ion-navicon:hover:before {
        content: "\f2d7"; }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    width: 100%; }
    nav ul.hidden {
      display: none;
      -webkit-transition: display 5s;
      /* Safari */
      transition: display 5s; }
    nav ul li {
      margin: 0 1.5em; }
      nav ul li.menu_item_current {
        border-width: 2px 0 0 2px; }
        nav ul li.menu_item_current a {
          color: #6a8197; }
      nav ul li a {
        text-decoration: none;
        color: #fff;
        font-family: 'Oswald', sans-serif;
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase; }
        nav ul li a:hover {
          color: #6a8197; }

.heroShot {
  background: url(http://localhost:8888/QDQmedia/img/chromeBackground.jpg);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .heroShot .wrapper {
    padding-top: 0;
    padding-bottom: 0; }
  .heroShot .formBox {
    background: #991359;
    /* The Fallback */
    background: rgba(153, 19, 89, 0.9);
    width: 40%;
    margin-left: auto;
    margin-top: 5.9375em; }
    .heroShot .formBox form {
      display: flex;
      flex-direction: column;
      padding: 3em; }
      .heroShot .formBox form input {
        line-height: 4em;
        margin: 1.3125em 0;
        padding-left: 1em;
        border-radius: 2px;
        border: 0px; }
      .heroShot .formBox form p {
        color: white;
        text-align: center;
        font-family: 'Muli', sans-serif;
        font-size: 1.2em;
        line-height: 1.6em; }
        .heroShot .formBox form p strong {
          font-family: 'Oswald', sans-serif;
          font-size: 1.95em;
          text-transform: uppercase;
          line-height: 1.4em; }
      .heroShot .formBox form .formButton {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        background-color: #000;
        border: #000;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 2.25em;
        padding: 0.4em 0;
        line-height: 1em;
        text-transform: uppercase;
        margin: 0.6em 0; }
  .heroShot .heroClaim {
    background: #404e5b;
    width: 100%;
    text-align: center;
    padding: 1.9375em 0;
    margin-top: 2.625em; }
    .heroShot .heroClaim h2, .heroShot .heroClaim p strong {
      font-family: 'Oswald', sans-serif;
      font-size: 3.375em;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .heroShot .heroClaim p {
      font-family: 'Muli', sans-serif;
      font-size: 2.125em;
      color: white;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.1em; }
      .heroShot .heroClaim p strong {
        font-size: 1.5em; }
    .heroShot .heroClaim:after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 50px solid #404e5b;
      right: 47.4%; }

.productosBox {
  width: 100%;
  height: 1398px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  padding-top: 2.8125em;
  /*background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(231,231,231,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(231,231,231,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(231,231,231,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(231,231,231,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(231,231,231,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(231,231,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7', GradientType=0 );*/
  background: linear-gradient(to bottom, white 0%, white 50%, #ffffff 50%, #f6f6f6 50%, #f6f6f6 100%);
  /* W3C */ }
  .productosBox .wrapper {
    flex-direction: column; }
    .productosBox .wrapper.macBackground {
      background-image: url(http://localhost:8888/QDQmedia/img/backgroundMac.png);
      background-repeat: no-repeat;
      background-position-x: 41%; }
  .productosBox .tituloSeccionProducto {
    font-family: Oswald;
    font-size: 2.5em;
    color: #131e33;
    text-transform: uppercase;
    text-align: center; }
  .productosBox .subTituloSeccionProducto {
    font-family: Muli;
    font-size: 1.25em;
    color: #404e5b;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6875em;
    margin-bottom: 3em; }
  .productosBox .contenedorProducto {
    position: relative;
    overflow: hidden; }
    .productosBox .contenedorProducto:after {
      content: "";
      width: 900px;
      height: 1313px;
      background: transparent;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 0 50% 50% 0%;
      border: 4px solid #cecece;
      position: absolute;
      left: -1%;
      top: -13em;
      overflow: hidden; }
    .productosBox .contenedorProducto .producto {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-flow: row wrap;
      margin-left: auto;
      width: 28%;
      padding: 1em; }
      .productosBox .contenedorProducto .producto:before {
        content: "";
        background: url(http://localhost:8888/QDQmedia/img/disenamos_gestionamos_web_negocio.jpg) no-repeat;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid #cecece;
        overflow: hidden;
        background-size: 146%;
        margin-left: -62%;
        z-index: 50;
        float: left; }
    .productosBox .contenedorProducto .tituloProducto {
      font-family: Oswald;
      color: #404e5b;
      font-size: 1.59375em;
      text-transform: uppercase;
      line-height: 1.1em;
      margin-top: -5em; }
    .productosBox .contenedorProducto p {
      font-family: Muli;
      font-size: 1.125em;
      margin-top: -3.3em; }

footer {
  width: 100%;
  background-color: #2b343d;
  display: flex;
  justify-content: center;
  height: 332px;
  font-family: Muli; }
  footer .wrapper {
    flex-direction: column; }
    footer .wrapper .footer_logo_section, footer .wrapper .footer_redes .legal {
      display: flex;
      list-style: none;
      border-bottom: 1px dotted #556879;
      justify-content: space-around;
      padding: 10px 0 20px; }
      footer .wrapper .footer_logo_section .logoSolocal, footer .wrapper .footer_redes .legal .logoSolocal {
        border-right: 1px solid rgba(255, 255, 255, 0.21); }
      footer .wrapper .footer_logo_section img, footer .wrapper .footer_redes .legal img {
        opacity: 0.2;
        transition: opacity 0.5s linear; }
        footer .wrapper .footer_logo_section img:hover, footer .wrapper .footer_redes .legal img:hover {
          opacity: 1; }
    footer .wrapper .footer_redes {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: 0.875em; }
      footer .wrapper .footer_redes .legal {
        border-bottom: 0; }
        footer .wrapper .footer_redes .legal li {
          margin: 0 1em; }
          footer .wrapper .footer_redes .legal li a {
            color: white;
            opacity: 0.2;
            transition: opacity 0.8s ease-in; }
            footer .wrapper .footer_redes .legal li a:hover {
              opacity: 1; }
          footer .wrapper .footer_redes .legal li:after {
            content: "-";
            position: absolute;
            padding: 0 1em;
            color: white;
            opacity: 0.2; }
          footer .wrapper .footer_redes .legal li:last-child:after {
            content: ""; }

body {
  background: grey;
  font-size: 16; }

.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  width: 71.14583%;
  padding: 1.25em; }

/*# sourceMappingURL=style.css.map */
