.contactanos{
	.backgroundImg{
    	@include background('../img/headerBackgroundContacto.png'); 
	}
}
.sectionWrapper{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: flex-start;
            max-width: ($mainWidth/$mainFontSize)*1em;
            margin:0 auto;
            padding:(40/$mainFontSize)*1em 0;
            @include respond-to(tablet){
            	padding:0;
            }
    .formSection{
    	flex: 1;
    	display: flex;
		.Boxform{
			background-color:#f1f1f1;
			padding:(50/$mainFontSize)*1em;
			form{
				fieldset{
					legend{
						p{
							font:(15/$mainFontSize)*1em $secondaryFont;
							text-align: center;
							color: $mainColor;
							width: 75%;
							margin: 0 auto;
							text-transform: uppercase;
							span{
								font:(46/15)*1em $mainFont;
								text-transform: uppercase;
								line-height: 1.2em;
								margin:0.3em 0;
								strong{
									font:bold (63/46)*1em $mainFont;
									line-height: 1em;
								}	
							}
						}
					}
					input{
						display: flex;
    					flex-wrap: wrap;
    					align-items: center;
    					width: 100%;
    					&:not(:last-child){
    						margin-bottom: 2em;
    					}
    					&:first-child{
    						margin-top: 2em;
    					}
    					&:not([type='checkbox']){
    						padding:1.3em;
    					}
    					&[type="checkbox"]{
    						width: 18px;
    						display: inline-flex;
    						margin-left: -6em;
    					}
    					&[type="submit"]{
    						@include buttom(2px, $secondaryColor);
    						font-size: 22px;
    					}
					}
					label{
						text-transform: initial;
						a{
							color: $secondaryColor;
							text-decoration:none;

						} 
					}
				}
			}
		}
	}
	.Boxcontactanos{
		@extend .formSection;
		background:#f8f8f8;
		padding:(14/$mainFontSize)*1em;
		padding-top:(50/$mainFontSize)*1em;
		align-items: center;
		display: flex;
    	flex-direction: column;
		p{
			font:1em $secondaryFont;
			color: $mainColor;
			text-align: center;
			width: 87%;
			strong{
				display: inline-block;
				font:(30/$mainFontSize)*1em $mainFont;
				color: $mainColor;
				margin-bottom: 0.7em;
				a{
					color: $secondaryColor;
					text-decoration: none;
				}
			}			
		}
		.mapaContenedor{
			display: flex;
    		flex-direction: column;
    		align-items: center;
    		justify-content: center;
			img{
				width: 100%;
			}
			p{
				position:absolute;
				@include mainClaim(30);
			}
		}
	}
}