.formBox{
		@include background-opacity($secondaryColor, .9);
		width: (548/$mainWidth)*100%;
		margin-left: auto;
		margin-top:(95/16)*1em;
		box-sizing:border-box;
		max-width: (548/$mainFontSize)*1em;
		@include flex;
		align-items:center;
        @include respond-to(monitor){
            width: 63%;
        }
        @include respond-to(tablet){
            width: 80%;
            margin-right:auto;
            margin-top: (51/$mainFontSize)*1em;
        }
        @include respond-to(movil){
            @include calc(width, '100% - 20px');
            margin: (10/$mainFontSize)*1em auto;
        }
		form{
			@include flex;
    		flex-direction: column;
    		width: (430/548)*100%;
    		margin: auto;
            padding:(40/$mainFontSize)*1em 0;
            @include respond-to(movil){
                width: 100%;
                padding:(20/$mainFontSize)*1em 1em;
            }
    		label{
    			font-weight: 300;
    			font-style: italic;
    			font-family: $secondaryFont;
                color: #fff;
                @include respond-to(movil){
                    font-size: (11/$mainFontSize)*1em;
                }
                a{
                    color: #fff;
                }
    		}
    		input{
    			width: 100%;
    			border-radius: 2px;
    			padding: 0;
    			padding-left: 1em;
    			border-width: 0px;
                line-height: 2em;
                height: 2em;
                vertical-align: middle;
                font-size: 2em;
    			vertical-align: middle;
    			font-family:$mainFont;
    			color: #ccc;
    			background:#eee;
                margin:(10/24)*1em 0;
    			box-sizing:border-box;
                @include respond-to(movil){
                    font-size: 1em;
                }
                &[name="firstname"]{
                    margin-top: (40/24)*1em;
                    @include respond-to(movil){
                        margin-top: 1em;
                    }
                }
    			&[type="checkbox"]{
    				width: 18px;
    				height: 18px;
    				margin-bottom: 0;
                    @include respond-to(movil){
                        margin-top: 0;
                    }
                    &:checked+label{
                        opacity: 0.2;
                        transition: opacity 1s ease;

                    }
    			}
    			&:focus{
					background:#fff;
					transition: background .3s ease-in-out;
					outline: 0;
    			}
    			@include placeholder {
                    font-size: 1em;
    				font-family:$mainFont;
    				text-transform: uppercase;
	    			transition: opacity 0.35s ease-in-out;
                    @include respond-to(movil){
                        font-size:1em;
                    }
				}
    			@include placeholder_focus{
   				opacity: 0.2;
				transition: opacity 0.5s ease-in-out;
				}
	
    		}
    		legend{
    			color: white;
    			text-align: center;
    			font-family: $secondaryFont;
    			font-size: (18/$mainFontSize)*1em;
                width: 100%;
                @include respond-to(movil){
                    font-size: (12/$mainFontSize)*1em;
                }
    			span {
    				font-family: $mainFont;
    				font-size: (36/18)*1em;
    				text-transform: uppercase;
                    @include respond-to(movil){
                        font-size: (22/12)*1em;
                        }
    				strong{
    					font-weight: 700;
    				}
				}
    		}
    		.formButton{
    			@include buttom(2px, $black);
                -webkit-appearance: none;
                @include respond-to(movil){
                    font-size: (22/$mainFontSize)*1em;
                    margin-bottom: 0;
                }
    		}
		}
	}