/*Main Header*/

header{
	background: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
  	align-items: center;
  	flex-direction:column;
	height: (90/$mainFontSize)*1em;
	width: 100%;
	img{
		align-items:center;
		display: flex;
		max-width: 200px;

	}
}