/*Main Header*/

header{
	background: rgba($mainColor, 0.9);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
  	align-items: center;
  	flex-direction:column;
	height: (54/$mainFontSize)*1em;
	width: 100%;
	position: fixed;
	z-index:500;
}