@import "mixin";
.heroShot{
	background:url(../img/chromeBackground.jpg);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items:center;
	flex-direction:column;
	.wrapper{
		padding-top: 0;
		padding-bottom: 0;
	}
	.formBox{
		@include background-opacity($secondaryColor, .9);
		width: 40%;
		margin-left: auto;
		margin-top:(95/16)*1em;
		form{
			display: flex;
    		flex-direction: column;
    		padding: (48/16)*1em;
    		input{
    			line-height: (64/16)*1em;
    			margin: (21/16)*1em 0;
    			padding-left: 1em;
    			border-radius:2px;
    			border:0px;
    		}
    		p{
    			color: white;
    			text-align: center;
    			font-family: 'Muli', sans-serif;
    			font-size: 1.2em;
    			line-height: 1.6em;
    			strong {
    				font-family: 'Oswald', sans-serif;
    				font-size: 1.95em;
    				text-transform: uppercase;
    				line-height: 1.4em;
				}
    		}
    		.formButton{
    			@include buttom(2px, $black);
    			margin: 0.6em 0;
    		}
		}
	}
	.heroClaim{
		background:$mainColor;
		width: 100%;
		text-align: center;
		padding:(31/16)*1em 0;
		margin-top: (42/16)*1em;
		h2{
			font-family: 'Oswald', sans-serif;
			font-size: (54/16)*1em;
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
		}
		p{
			font-family: 'Muli', sans-serif;;
			font-size: (34/16)*1em;
			color: white;
			text-align: center;
			text-transform: uppercase;
			line-height: 1.1em;
			strong{
				@extend h2;
				font-size: (54/36)*1em;
			} 
		}
		&:after{
			position: absolute;
    		content: "";
    		width: 0;
    		height: 0;
    		border-left: 50px solid transparent;
    		border-right: 50px solid transparent;
    		border-top: 50px solid $mainColor;
		    right: 47.4%;
		}
	}
}