@import "mixin";
.heroShot{
	background:url(../img/chromeBackground.jpg);
	background-size:cover;
	@include flex;
	align-items:center;
	flex-direction:column;
	@include respond-to(movil){
		flex-direction: column-reverse;
	}
	.wrapper{
		padding-top: 0;
		padding-bottom: 0;
		@include respond-to(tablet){
			width: 100%;
			max-width: $break-medium;
		}
	}
	.heroClaim{
		@include homeTitles(darken($mainColor,10),(42/16)*1em);
		@include homeTitlesAfter(darken($mainColor,10), 50px);
		@include respond-to(tablet){
			margin-top: 0;
		}
		@include respond-to(movil){
			&:after{display:none;}
		}
		.mainClaim{
			@include mainClaim((50/$mainFontSize)*1em);
			@include respond-to(tablet){
				font-size: (31/$mainFontSize)*1em;
			}
		}
		.secondaryClaim{
			@include secondaryClaim((34/$mainFontSize)*1em, $mainFont);
			@include respond-to(tablet){
				font-size: (19/$mainFontSize)*1em;
			}
			strong{
				@extend .mainClaim;
				font-size: (50/34)*1em;
				font-weight: 400;
			} 
		}
	}
}