nav{
	   display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    .menu-toggle {
      width: 40px;
      height: 40px;
      background: darken($mainColor, 5%);
      cursor: pointer;
      display: flex;
      align-items:center;
      justify-content: center;
      .ion-close{
        color: white;
        font-size: 1.2em;
      }
    }
  .fadeInRight{
   		display: flex;
    	flex-wrap: wrap;
    	justify-content: flex-end;
    	list-style: none;
    	width: 100%;
      visibility: visible;
    	li{
    		margin: 0 (24/$mainFontSize)*1em;
    		&.menu_item_current{
    			border-width:2px 0 0 2px;
    			a{
    				color:lighten( $mainColor, 20% );
    			}
    		}
    		a{
    			text-decoration: none;
    			color: $white;
    			font-family: 'Oswald', sans-serif;
    			font-size: (16/$mainFontSize)*1em;
    			font-weight: 300;
    			text-transform: uppercase;
    			&:hover{
    				color:lighten( $mainColor, 20% );
    			}
          &.active{
            color:lighten( $mainColor, 20% );
          }
			}
		}
	}
}