nav{
	  @include flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 89.3%;
    align-items: center;
    overflow: hidden;
    .menu-toggle {
      width: (32/$mainFontSize)*1em;
      height: (32/$mainFontSize)*1em;
      background: darken($mainColor, 5%);
      cursor: pointer;
      @include flex;
      align-items:center;
      justify-content: center;
      visibility: visible;
      z-index: 50;
      .ion-close{
        color: white;
        font-size: (15/$mainFontSize)*1em;
      }
    }
  .fadeInRight{
    @include respond-to(movil){
      display: none;
    }
   		@include flex;
    	flex-wrap: wrap;
    	justify-content: flex-end;
    	list-style: none;
    	width: 100%;
      transform:translate(0em, 0px);
      transition-duration: 1s;
      transition-timing-function:ease-in;
      &.translate{
        transform:translate(40em, 0px);
        transition-duration: 1s;
        transition-timing-function: ease-in;
      }
      li{
    		margin: 0 (19/$mainFontSize)*1em;
          @include respond-to(tablet){
            margin: 0 (8/$mainFontSize)*1em;
          }

    		&.menu_item_current{
    			border-width:2px 0 0 2px;
    			a{
    				color:lighten( $mainColor, 20% );
    			}
    		}
    		a{
    			text-decoration: none;
    			color: $white;
    			font-family: 'Oswald', sans-serif;
    			font-size: ($mainFontSize/$mainFontSize)*1em;
    			font-weight: 300;
    			text-transform: uppercase;
    			&:hover{
    				color:lighten( $mainColor, 20% );
    			}
          &.active{
            color:lighten( $mainColor, 20% );
          }
			}
		}
	}
}