@mixin buttom($radius, $color) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
        border-radius: $radius;
   		background-color: $color;
   		border:$color;
   		color:white;
   		font-family:'Oswald', sans-serif;
   		font-size:(36/16)*1em;
   		padding:0.4em 0;
   		line-height:1em;
   		text-transform:uppercase;
}
@mixin flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
@mixin placeholder_focus{
  &:focus::-webkit-input-placeholder  {@content}
  &:focus:-moz-placeholder            {@content}
  &:focus::-moz-placeholder           {@content}
  &:focus:-ms-input-placeholder       {@content}
}