@mixin buttom($radius, $color) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
        border-radius: $radius;
   		background-color: $color;
   		border:$color;
   		color:white;
   		font-family:'Oswald', sans-serif;
   		font-size:(36/16)*1em;
   		padding:0.4em 0;
   		line-height:1em;
   		text-transform:uppercase;
}