.ofertasFormSection{
	margin:2em 0;
	.wrapper{
		@include respond-to(fablet){
			flex-flow: column wrap;
		}
	}
}
.ofertas{
	.wrapper{
			flex-flow: column wrap;
			@include respond-to(movil){
				width: 100%;
			}
			.table-button-menu{
				display: none;
				list-style: none;
				width: 100%;
				flex-flow: row nowrap;
				justify-content: space-around;
				align-items:center;
				height: (50/$mainFontSize)*1em;
				background:#eee;
				@include respond-to(movil){
					display: flex;
				}
				li{
					flex: 1;
    				text-align: center;
    				border: 0.5px solid #e1e1e1;
    				border-bottom:0;
    				line-height: 3.125em;
    				&.active a{
    					color:rgba($mainColor, .7);
    					}
    				&:nth-child(2){
    					border-right:0.5px solid white;
    				}
    				&:nth-child(3){
    					border-left:0.5px solid white;
    				}
    				a{
    					font-family: $mainFont;
						font-size: (14/$mainFontSize)*1em;
						text-transform: uppercase;
						color:rgba(black, .15);
						text-decoration: none;
    				}
				}
			}
		}
	.backgroundImg{
		background:url(../img/ofertasBackground.png);
	}
	.mainClaim{
		@include respond-to(movil){
			font-size: 2.9em!important;
		}
	}
}
.ofertasWrapper{
	@include respond-to(tablet){
			width: 100%!important;
			max-width: 100%!important;
			margin-top: -3.3em!important;
		}
}
table{
	margin-top:(50/$mainFontSize)*1em;
	@include respond-to(movil){
		margin-top: 0;
		border:1px solid #e1e1e1;
		border-top:0; 
		tr:first-child{
			display: none;
		}
	}

	th{
		background:#f8f8f8;
		padding:2em;
		color: darken($mainColor, 5);
		font-family: $secondaryFont;
		font-size: (14/$mainFontSize)*1em;
		border:0.5px solid #e1e1e1;
		@include respond-to(fablet){
			padding: 1em 0.5em;
			vertical-align: middle;
		}
		span{
			font-family: $mainFont;
			text-transform: uppercase;
			font-size: (22/14)*1em;
			display: block;
			margin-bottom: 0.3em;
			@include respond-to(tablet){
				font-size: (15/14)*1em;
			}

		}
		&:first-child{
			color:$mainColor;
			font-size: (18/$mainFontSize)*1em;
			text-transform: uppercase;
			width: 35%;
			vertical-align: middle;
			font-family: $mainFont;
			span{
				font-size: (34/18)*1em;
				display: inline-block;
				@include respond-to(tablet){
					font-size: (22/18)*1em;
				}
				span{
					vertical-align: super;
					font-size: 0.5em;
				}
			}
		}
		&:nth-child(2){
			width: 24%;
		}
		&:nth-child(3){
			width: 20%;
		}
	}
	td{
		border:0.5px solid #e1e1e1;
		text-align: center;
    	vertical-align: middle;
    	padding: 2em;
    	font-family: $secondaryFont;
    	color: lighten($mainColor, 10);
    	@include respond-to(fablet){
    		padding:1em;
    	}
    	@include respond-to(movil){
    		font-size: (14/$mainFontSize)*1em;
    	}
    	span{
    		@include respond-to(movil){
    		border:0;
    		&.invisible{
			opacity: 0;
			display: none;
			visibility: hidden;
		}
    		}
    	}
    	.ion-checkmark{
    		font-size: (26/$mainFontSize)*1em;
    		color: #079335;
    	}
    	&:first-child{
    		text-align: left;
    	}
		&:nth-child(n+3){
			@include respond-to(movil){
				display: none;
				//visibility: hidden;			
			}
		}
	}
	tr{
		&:nth-child(odd){
			td{
				background:#f8f8f8;	
			}
		}
		&:nth-last-child(2){
			td{
				border:0;
				padding:0.5em 0 1em;
				&:first-child{
					@include respond-to(movil){
					display: none;
					}
				}

				span{
					font-family: $mainFont;
					font-size: (40/$mainFontSize)*1em;
					color: $mainColor;
				}
			}
		}
		&:last-child{
			td{
				border:0;
				background:none;
				padding:0;
			}
		}
	}
	.button{
		@include buttom(2px, $secondaryColor);
		font-size: 20px;
		width: 75%;
		margin-bottom: 2em;
		@include respond-to(tablet){
			font-size: 13px;
		}
	}

}
.serviciosLanding{
	background: lighten($mainColor, 10);
	color:white;
	font-family:$secondaryFont;
	.wrapper{
		flex-flow: column wrap;
		padding:3em 0;
		@include respond-to(tablet){
			background:none;
		}
		@include respond-to(movil){
			width: 100%;
			padding-top: 1em;
		}
		/*.serviciosBackground{
			background: url(../img/disenoWebOfertasBg.png) right 45% no-repeat;
			&.leftBackground{
				background-position: left 45%;
			}
		}*/
		.mainClaim{
			@include mainClaim((44/$mainFontSize)*1em);
			@include respond-to(movil){
				text-align: left;
    			padding: 0.7em;
    			font-size: 26px;
    			padding-top: 0;
    			padding-bottom: 0.2em;
			}
		}
		.secondaryClaim{
			@include secondaryClaim((20/$mainFontSize)*1em, $secondaryFont);
			@include respond-to(movil){
				text-align: left;
			    margin-left: 1.2em;
			    font-size: 16px;
			}
		}
		.serviceCategories{
			font-family: $mainFont;
			font-size: (20/$mainFontSize)*1em;
			list-style: none;
			text-transform: uppercase;
			@include flex;
			justify-content: space-between;
			margin-top: 1em;
			@include respond-to(tablet){
				font-size: 0.75em;
			}
			/*li{
				background:darken($mainColor,10);
				border: 1px solid white;
				width: 100%;
				text-align: center;
				padding:1em 0;
				align-self:center;
    			-webkit-transition: background-color 2s ease-out;
				transition: background-color 2s ease-out;
    			&:hover{
    				background:lighten($mainColor, 50);
    				a{
    					color:$mainColor;
    				}
    			}
				a{
					color: #f1f1f1;
					text-decoration: none;
					-webkit-transition: color 1.5s ease-in;
					transition: color 1.5s ease-in;
				}
				&.active{
					background:none;

				}
			}*/
		}
	}

	
	.leftSide, .rightSide{
		width: 48%;
		margin-bottom: 6em;
    	margin-top: 3em;
		@include respond-to(tablet){
			width: 100%;
		}
		p{
			line-height:(24/$mainFontSize)*1em;
			margin-bottom: 2em; 
		}
		.beneficiosList{
			list-style: none;
			border-left:1px solid white;
			padding-left:1em;
			li{
				margin: 1em 0;
			}
		}
	}
	.rightSide{
		float: right;
		padding-left: 3em;
	}
	.buttonList{
		align-self: center;
    	flex-flow: row wrap;
    	@include flex;
    	justify-content: center;
    	list-style: none;
    	width: 100%;
    	margin-top: 1em;
    	@include respond-to(tablet){
    		width: 80%;
    	}
    	li{
    		margin-right: 1em;
    		a{
	    		&:after{
	    			content: "";
	    			position: absolute;
	    			width: 0; 
	  				height: 0; 
	  				border-left: 5px solid white;
	  				border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					top: 50%;
	    			margin-top: -5px;
	    			margin-left: 1em;
	    		}
	    	}
	    }
    	.button{
    		@include buttom(2px, black);
    		font-size: (18/$mainFontSize)*1em;
    		padding:0.5em 2em;
    		position:relative;
    	}
	}
}
.leftSideForm{
	position:relative;
	text-align:right;
	font-family:$secondaryFont;
	font-size:(18/$mainFontSize)*1em;
	color:$mainColor;
	text-transform:uppercase;
	margin-right: (50/$mainFontSize)*1em;
	margin-top: 1em;
	flex:1;
	@include respond-to(tablet){
		margin-right: 0;
    	margin-top: -0.4em;
	}
	.arrow{
	background: url(../img/arrow.png) no-repeat;
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    left: 94%;
    top: 10.4em;
    	@include respond-to(tablet){
    		display: none;
    	}
	}
	.smallText{
		font-size: (16/18)*1em;
	}
	.mainClaim{
		font-family: $mainFont;
		font-size: (44/18)*1em;
		line-height: 1.2em;
		margin:0.3em 0;
		@include respond-to(tablet){
			font-size: (42/18)*1em;
			margin:0.2em 0;
		}
		span{
			font-weight: bold;
			display: block;
			@include respond-to(tablet){
				display: inline;
			}
		}
	}
}
.ofertasFormSection{
form{
	flex:1;
	fieldset{
		font-family: $mainFont;
		font-size: (18/$mainFontSize)*1em;
		text-transform: uppercase;
		color: rgba($mainColor, 0.4);
		width: 80%;
		@include respond-to(fablet){
			width: 100%;
		}
		label{
			font-size: (14/18)*1em;
			font-family: $secondaryFont;
			font-style: italic;
			text-transform: none;
			position:relative;
			top:-0.3em;
			a{
				color: $secondaryColor;
				text-decoration: none;
			}

		}
		input{
			border:1px solid rgba($mainColor, 0.5);
			background:#fafafa;
			height: (60/18)*1em;
			width: 65%;
			margin-left: 1.03em;
			margin-top: 1em;
			padding-left:1em;
			@include respond-to(fablet){
				margin: 0.4em 0!important;
    			width: 100%;
			}
			&[type="tel"]{
				margin-left: 0.6em;
			}
			&[type="mail"]{
				margin-left: 2.07em;
			}
			&[type="checkbox"]{
				width: 20px;
				height: 20px;
				margin-left: 4.4em;
			}
			&[type="submit"]{
				margin-left: 16%;
				background-color:$secondaryColor;
				border-radius:2px;
				text-transform: uppercase;
				color: white;
			}
		}
	}
}
}
