.ofertas{
	.backgroundImg{
		background:url(../img/ofertasBackground.png);
	}
}
.ofertasWrapper{
	@include respond-to(tablet){
			width: 100%!important;
			max-width: 100%!important;
			margin-top: -3.3em!important;
		}
}
table{
	margin-top:(50/$mainFontSize)*1em;
	th{
		background:#f8f8f8;
		padding:2em;
		color: darken($mainColor, 5);
		font-family: $secondaryFont;
		font-size: (14/$mainFontSize)*1em;
		border:0.5px solid #e1e1e1;
		span{
			font-family: $mainFont;
			text-transform: uppercase;
			font-size: (22/14)*1em;
			display: block;
			margin-bottom: 0.3em;
		}
		&:first-child{
			color:$mainColor;
			font-size: (18/$mainFontSize)*1em;
			text-transform: uppercase;
			width: 35%;
			vertical-align: middle;
			font-family: $mainFont;
			span{
				font-size: (34/18)*1em;
				display: inline-block;
				span{
					vertical-align: super;
					font-size: 0.5em;
				}
			}
		}
		&:nth-child(2){
			width: 24%;
		}
		&:nth-child(3){
			width: 20%;
		}
	}
	td{
		border:0.5px solid #e1e1e1;
		text-align: center;
    	vertical-align: middle;
    	padding: 2em;
    	font-family: $secondaryFont;
    	color: lighten($mainColor, 10);
    	.ion-checkmark{
    		font-size: (26/$mainFontSize)*1em;
    		color: #079335;
    	}
    	&:first-child{
    		text-align: left;

    	}
	}
	tr{
		&:nth-child(odd){
			td{
				background:#f8f8f8;	
			}
		}
		&:nth-last-child(2){
			td{
				border:0;
				padding:0.5em 0 1em;
				span{
					font-family: $mainFont;
					font-size: (40/$mainFontSize)*1em;
					color: $mainColor;
				}
			}
		}
		&:last-child{
			td{
				border:0;
				background:none;
				padding:0;
			}
		}
	}
	.button{
		@include buttom(2px, $secondaryColor);
		font-size: 20px;
		width: 75%;
		margin-bottom: 2em;
		@include respond-to(tablet){
			font-size: 13px;
		}
	}

}
.serviciosLanding{
	background: lighten($mainColor, 10);
	color:white;
	font-family:$secondaryFont;
	.wrapper{
		background: url(../img/disenoWebOfertasBg.png) right 80% no-repeat;
		flex-flow: column wrap;
		padding:3em 0;
		@include respond-to(tablet){
			background:none;
		}
		.mainClaim{
			@include mainClaim((44/$mainFontSize)*1em);
		}
		.secondaryClaim{
			@include secondaryClaim((20/$mainFontSize)*1em, $secondaryFont);
		}
		.serviceCategories{
			font-family: $mainFont;
			font-size: (20/$mainFontSize)*1em;
			list-style: none;
			text-transform: uppercase;
			@include flex;
			justify-content: space-between;
			margin-top: 1em;
			@include respond-to(tablet){
				font-size: 0.75em;
			}
			li{
				background:darken($mainColor,10);
				border: 1px solid white;
				width: 100%;
				text-align: center;
				padding:1em 0;
				align-self:center;
    			-webkit-transition: background-color 2s ease-out;
				transition: background-color 2s ease-out;
    			&:hover{
    				background:lighten($mainColor, 50);
    				a{
    					color:$mainColor;
    				}
    			}
				a{
					color: #f1f1f1;
					text-decoration: none;
					-webkit-transition: color 1.5s ease-in;
					transition: color 1.5s ease-in;
				}
				&.active{
					background:none;

				}
			}
		}
	}

	h3{
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		margin:1.5em 0;
	}
	.leftSide{
		width: 48%;
		@include respond-to(tablet){
			width: 100%;
		}
		p{
			line-height:(24/$mainFontSize)*1em;
			margin-bottom: 2em; 
		}
		.beneficiosList{
			list-style: none;
			border-left:1px solid white;
			padding-left:1em;
			li{
				margin: 1em 0;
			}
		}
	}
	.buttonList{
		align-self: center;
    	flex-flow: row wrap;
    	@include flex;
    	justify-content: space-between;
    	list-style: none;
    	width: 37%;
    	margin-top: 1em;
    	@include respond-to(tablet){
    		width: 80%;
    	}
    	li:first-child a{
	    		&:after{
	    			content: "";
	    			position: absolute;
	    			width: 0; 
	  				height: 0; 
	  				border-left: 5px solid white;
	  				border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					top: 50%;
	    			margin-top: -5px;
	    			margin-left: 1em;
	    		}
	    	}
    	.button{
    		@include buttom(2px, black);
    		font-size: (18/$mainFontSize)*1em;
    		width: 240px;
    		position:relative;
    	}
	}
}
.leftSideForm{
	text-align:right;
	font-family:$secondaryFont;
	font-size:(18/$mainFontSize)*1em;
	color:$mainColor;
	text-transform:uppercase;
	p:last-child{
		font-size: (16/18)*1em;
	}
	.mainClaim{
		font-family: $mainFont;
		font-size: (44/18)*1em;
		line-height: 1.2em;
		span{
			font-weight: bold;
			display: block;
		}
	}
}
fieldset{
	@include flex;
	input{
		border:1px solid $mainColor;
	}
}
