.productosBox{
	background:white;
	@include flex;
	.macBackground{
		@include flex;
		flex-direction: column;
		width: 50%;
		justify-content: flex-end;
		background-image:url(../img/backgroundMac.png);
		background-position:left top;
		background-repeat:no-repeat;
		.mainClaim{
			@include mainClaim((28/16)*1em);
			color: $mainColor;
			text-align: left;
		}
		.secondaryClaim{
			@include secondaryClaim((15/16)*1em, $secondaryFont);
			color: $mainColor;
			text-align: left;
			margin-top: 0.1em;
			margin-bottom: 1.5em;
		}
		.button{
			@include buttom(2px, $secondaryColor);
			font-size: (30/16)*1em;
			width: 45%;
		}
	}
	.contenedorProducto{
		@include flex;
		flex-direction: column;
		width: 50%;
		.producto{
			@include flex;
			flex-direction: row;
			padding-left: 8%;
			.circle{
				width: 150px;
    			height: 150px;
    			border-radius: 50%;
    			background: purple;
    			display: flex;
    			flex-direction: row;
    			justify-content: center;
    			min-width: 150px;
    			border:4px solid #cecece;
			}
			.textoProducto {
    			display: flex;
    			flex-direction: column;
    			width: 58%;
    			margin-left: 5%;
    			justify-content: center;
				.mainClaim{
				@include mainClaim((22/16)*1em);
				color: $mainColor;
				text-align:left;
				margin-bottom: 0.5em;
				}
				p{
					font-family: $secondaryFont;
					font-size: 1em;
					font-weight: 300;
				}

			}
		}
	}
}