.sobreWrapper{
	@extend .opinionesWrapper;
	.backgroundImg{
	    @include background('../img/headerBackgroundSobreQdqmedia.png');
	    .mainClaim{
	    	margin-top: 56px;
	    	margin-bottom: 0;
	    }
	}
	@include enlaces;
	.empresasGrupo{
	   	list-style: none;
	   	@include flex;
	   	flex-flow: row wrap;
	    justify-content: space-between;
	    margin-bottom: (50/$mainFontSize)*1em;	
	   	.empresa{
	   	flex-basis: calc(50% - 12px);
	   	flex-flow: column wrap;
	   	overflow: hidden;
	   	@include respond-to(fablet){
	   		flex-basis: 100%;
	   	}
	   		img{margin-bottom:(40/$mainFontSize)*1em;}
		   	.mainClaim{
		   		font-size: (24/$mainFontSize)*1em;
		   	}
		   	.boxEmpresa{
		   		background:#f1f1f1;
		   		box-sizing:border-box;
		   		align-items:center;
		   		padding: (50/$mainFontSize)*1em;
		   		@include flex;
		   		flex-flow: column wrap;
		   		height: 100%;
		   		.button{
		   			@include buttom(2px, $secondaryColor);
		   			font-size: (20/$mainFontSize)*1em;
		   			width: 50%;
		   		}
		   	}
		}
	} 
}