// Variables 

$mainColor: #404e5b;
$secondaryColor: #991359;
$black: #000;
$white:#fff;
$mainFontSize:16;
$mainWidth:1348;
$fullWidth:($mainWidth/$mainFontSize)*1%;
$mainFont: 'Oswald', sans-serif;
$secondaryFont: 'Muli', sans-serif;