/*Fuentes*/ 
$mainFont: Oswald;
$secondaryFont: Muli;

@import "variables";
@import "reset";
@import "header";
@import "mainNav";
@import "heroShot";


body{
	background: grey;
	font-size:$mainFontSize;
	border-top:10px solid #131e33;
}
.wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction:row;
	width:$fullWidth;
	padding:(20/$mainFontSize)*1em;

}
