
@import "variables";
@import "reset";
@import "mixin";
@import "header";
@import "mainNav";
@import "heroShot";
@import "form";
@import "animation-element";
@import "productos";
@import "blogSection";
@import "trabajaConNosotros";
@import "innerHeaderBackground";
@import "contacto";
@import "opiniones";
@import "sobreQDQmedia";
@import "secondaryNav";
@import "historia";
@import "landing";
@import "ofertas";
@import "socios";
@import "footer";


body{
	font-size:($mainFontSize/16)*1em;
}
.animsition-loading{display:none!important;}
.wrapper{
	@include flex;
	flex-direction:row;
	width:$fullWidth;
	max-width:1366px;
	margin:auto;
}
.invisible{
     opacity:0;
     @include respond-to(movil){
     	opacity: 1;
    }
}
.visible{
     opacity:1;
}
